html{
	font-size: 1.5em;
	color: #333;
	font-family: 'Open Sans', sans-serif;
}

body{
	padding: 1rem;
}

* {
	box-sizing: border-box;
	line-height: 1rem;
	font-size: 0.666666rem;
	margin:0;
	text-rendering: optimizelegibility;
	font-smooth: auto;
	-webkit-font-smoothing: auto;
}

#app{
	display: flex;
	justify-content: center;
	flex-flow: column;
	max-width: 30rem;
	margin: 0 auto;
}


@keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; }}


.logo{
	animation: fadeIn 4s;
	background-image: url(./assets/logo.svg);
	height: 2rem;
	background-position: 2rem;
	background-repeat: no-repeat;
	width: 10rem;
}

.search-container{
}



.navigation{
	display: flex;
	flex-flow: row;
	margin-top: 8rem;
	transition: all 300ms;
	align-items: center;
	justify-content: space-between;
}

.loaded{
	margin-top: 0;
}

.loaded .logo{
	background-position: 0;
}


input{
	font-family: 'Open Sans', sans-serif;
	font-size: .8rem;
	width: 19rem;
	height: 2rem;
	background-color: #fff;
	border: 1px solid HSL(0, 0%, 85%);
	padding-left: .5rem;
	transition: all .4s;
	background-image: url(./assets/search.svg);
	background-size: contain;
	background-position: right .125rem center;
	background-repeat: no-repeat;
	color: hsl(197, 14%, 50%);
}

::-webkit-input-placeholder {
    color:    #E8E8E3;
}
:-moz-placeholder {
   color:    #E8E8E3;
   opacity:  1;
}
::-moz-placeholder {
   color:    #E8E8E3;
   opacity:  1;
}
:-ms-input-placeholder {
   color:    #E8E8E3;
}

input:focus{

}

.content{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.buttons-container{
	display: inline-flex;
	flex-flow: row;
	justify-content: space-between;
	width: 30rem;
	position: sticky;
	top: 0rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	z-index: 1;
	background-color: #fff;
}

.buttons-container button{
	height: 2rem;
	width: 8rem;
	font-size: 1.4rem;
	font-family: "Open Sans", sans-serif;
	transition: all 400ms;
	color: #E8E8E3;
	background-color: #fff;
	border: 1px solid HSL(0, 0%, 85%);
}

.buttons-container button:hover{color: #f9f9f9;background: hsl(197, 14%, 80%);border: 1px solid #fff;}

ul{
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: 30rem;
	padding: 0;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid HSL(0, 0%, 85%);
	border-top: 1px solid HSL(0, 0%, 85%);
}

ul {}

li{
	list-style-type: none;
	height: 3rem;
	display: inline-flex;
	justify-content: space-between;
	position: sticky;
	top: 0rem;
	position: relative;
	transition: all 400ms;
}

li:nth-child(2n+1){
	background: #fff;
}

li:hover{
	background: hsl(197, 14%, 80%);
}

li:hover > .movie-name .title,
li:hover > .movie-name .release_date,
li:hover > .movie-details .value,
li:hover > .movie-details .label{
	color: #fff;
}



li .poster{
	width: 2rem;
	height: 2rem;
	background-size: cover;
	margin: .5rem;
	margin-right: 0;
	background-image: url(./assets/no-poster.svg);
}

li .movie-name{
	width: 14rem;
	padding-left: 0;
	padding-top: 0;
}

li .movie-name .title{
	font-size: 0.83333333rem;
	font-weight: 400;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-top: .55rem;
	color: hsl(197, 14%, 50%);
}

li .movie-name .release_date{
	font-size: .5rem;
	color: hsl(197, 14%, 60%);
}

li .movie-details{
	width: 12rem;
	display: inline-flex;
	flex-flow: row;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 1rem;
}

li .movie-details .value-container{
	text-align: center;
	width: 3rem;
}


li .movie-details .value{
	font-size: 0.83333333rem;
	padding-top: .55rem;
	color: hsl(197, 14%, 80%);
}

li .movie-details .label{
	text-transform: uppercase;
	font-size: .5rem;
	color: hsl(197, 14%, 75%);
}



.loading-circle{
	width: 2rem;
	height: 2rem;
	margin-top: 2rem;
	border-radius: 50%;
	border: .25rem solid #EAEAEA;
	border-top-color: rgb(238, 238, 238);
	border-bottom-color: rgb(238, 238, 238);
	border-top-color: hsl(197, 14%, 80%);
	border-bottom-color: hsl(197, 14%, 80%);
	animation: rotating 1s infinite cubic-bezier(1,.05,.62,.58);
}

@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(540deg);
	}
}
